.top-side-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: none;
    align-items: center;
    justify-content: space-around;
    font-family: "Blinker";
    color: white;
    font-size: 25px;
}

.input-top-side-bar {
    width: 236px;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(50, 50, 50);
    font-family: "Blinker";
    font-size: 17px;
}

.Notifications-top-side-bar:hover {
    cursor: pointer;
}